* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #282a36;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.274);
    text-align: center;
}


header div a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}